body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #E8F0FF;
}

header {
    background-color: #0C2A4C !important;
}

    .heading {
        background: url('../Image/Heading/Heading.png') center/cover no-repeat;
        color: white;
        margin-top: 110px;
        padding: 100px 20px;
        text-align: center;
    }

    .heading h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .heading p {
        font-weight: 400;
        font-size: 12px;
        opacity: 0.9;
    }

    .diagram-container {
        display: flex;
        justify-content: center;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 100%;
        height: 700px;
        max-width: 1209px;
        background: #F7F9FB;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 20px;
    }