body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo img {
    height: 90px;
}

nav.menu {
    display: flex;
    gap: 30px;
    padding-right: 165px;
}

nav.menu span a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

nav.menu span a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #4CA8FF;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

nav.menu span a:hover::after {
    width: 100%;
}

.navbar.navbar-scrolled {
    background: #0C2A4C;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}