@media (min-width:1360px) {
    .header {
        zoom: 90%;
    }

    .footer {
        zoom: 90%
    }
}

@media (min-width:1280px) {
    .header {
        zoom: 90%
    }

    .footer {
        zoom: 90%
    }
}

header.navbar {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #0C2A4C;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
    max-width: 1500px;
    margin: 0 167px;
    padding: 0 40px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo img {
    height: 90px;
}

nav.menu {
    display: flex;
    gap: 30px;
    padding-left: 120px;
}

nav.menu .dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;        /* muncul di bawah menu */
    left: 0;
    background: white;
    padding: 10px 0;
    min-width: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
}

.dropdown.active .dropdown-content {
    display: block;
}

nav.menu span a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

nav.menu span a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #4CA8FF;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

nav.menu span a:hover::after {
    width: 100%;
}

nav.menu span a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #4CA8FF;
    transition: 0s;
    transform: translateX(-50%);
}

.navbar.navbar-scrolled {
    background: #0C2A4C;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.footer {
    background: linear-gradient(to bottom,rgba(3, 37, 76, 1) 40%,rgba(11, 74, 143, 1) 100%);
    text-align: center;
    padding: 40px 20px;
    color: white;
    width: 100%;
}

.footer-logo img {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.footer-menu li {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 22px;
}

.footer-copyright {
    padding-top: 40px;
    font-size: 14px;
    opacity: 0.8;
}