@media (min-width: 1024px) {}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* body .bg {
    background-image: url('../Image/Homepage/Top Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 785px;
    width: 1440px;
} */


/* ini buat per navbar an ya rek */
header.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    /* padding: 0 40px; */
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo img {
    height: 90px;
}

nav.menu {
    display: flex;
    gap: 30px;
    padding-right: 165px;
}

nav.menu span a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

nav.menu span a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #4CA8FF;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

nav.menu span a:hover::after {
    width: 100%;
}

.navbar.navbar-scrolled {
    background: #0C2A4C;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
/* end */


/* ngatur bagian atas yang video itu di sini */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

.hero-content {
    text-align: center;
    color: white;
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-content p {
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
}

/* ini filter buat kontennya biar ga terlalu terang */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 25, 45, 0.5);
    z-index: -1;
}
/* end */


/* ngatur button di sini wokee */
.cta-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #1E5AA8;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: #2c72cf;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}

/* end */


/* ngatur footer di sini ya rek */
.footer {
    background: linear-gradient(to bottom,
        rgba(3, 37, 76, 1) 40%,
        rgba(11, 74, 143, 1) 100%);
    text-align: center;
    padding: 40px 20px;
    color: white;
}

.footer-logo img {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.footer-menu li {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
    font-size: 22px;
}

.footer-copyright {
    padding-top: 40px;
    font-size: 14px;
    opacity: 0.8;
}
/* end */


/* Animasi Background / Hero di awal*/
@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* kalo ada yang bingung tanya aja yaa rek */