@media (max-width: 1360px) {
        body {
            zoom: 100%;
        }
    }

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color:  #e8f0ff;
}

header.navbar {
    background: transparent !important;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

.hero-content {
    text-align: center;
    color: white;
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    z-index: 10;
}


.hero-content h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-content p {
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 25, 45, 0.5);
    z-index: -1;
}

.cta-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: flex-end;
}
.cta-btn {
    display: inline-block;
    padding: 15px 28px;
    background: #1E5AA8;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    border: none;
    outline: none;
}

.cta-btn:hover {
    background: #2c72cf;
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.profil-lab {
    width: 100%;
    background: #f5f7fa;
    padding: 60px 0; 
    zoom: 0.8;
}

.profil-container {
    width: 78%; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
}

.profil-image img {
    width: 100%;
    height: 360px; 
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

.profil-text {
    flex: 1;
}

.profil-text h2 {
    font-size: 28px; 
    color: #0c2f66;
    font-weight: 600;
    margin-bottom: 16px; 
}

.profil-text p {
    font-size: 16px; 
    color: #333;
    line-height: 1.6;
    margin-bottom: 28px; 
}

.btn-profil {
   display: inline-block;
    padding: 12px 28px;
    background: #1E5AA8;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-profil:hover {
    background: #2c72cf;
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.visi-misi-section {
    background-color: #e8f0ff;
    padding: 60px 0 0 0; 
    zoom: 0.9;
}

.vm-container {
    max-width: 1000px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 25px; 
}

.vm-card {
    background: #ffffff;
    padding: 28px 32px; 
    border-radius: 16px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    width: 48%;
    text-align: center;
    transition: 0.3s ease;
}

.vm-card:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */
}

.vm-icon {
    width: 55px; 
    margin-bottom: 12px;
}

.vm-title {
    font-size: 22px; 
    font-weight: 600;
    color: #325da9;
    margin-bottom: 12px; 
}

.vm-text {
    font-size: 15px; 
    line-height: 1.55;
    color: #333;
}

.vm-list {
    text-align: left;
    margin-top: 6px;
    padding-left: 18px;
    font-size: 15px; 
    line-height: 1.55;
}

.fokus-riset-section {
    background-color:  #e8f0ff;
    padding: 60px 90px;
    zoom: 0.9;
}

.judul-fokus {
    text-align: center;
    color: #174377;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
}

.fokus-row {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.fokus-card {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    border-radius: 12px;
    padding: 12px 22px;        
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #4a4a4a;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;       
    transition: 0.3s ease;
}

.fokus-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.news-section {
    background: #fff;
    /* padding: 40px 0; */
}

.news-container {
    width: 1100px;
    margin: auto;
}

.section-title {
    text-align: center;
    color: #174377;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
}

.news-flex {
    display: flex;
    gap: 40px;
}


.big-news-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
}

.judul-utama {
    font-size: 1.35rem;
    line-height: 1.35;
    margin: 15px 0;
    font-weight: 600;
}

.meta-utama {
    display: flex;
    gap: 10px;
    color: #777;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.deskripsi-utama {
    font-size: 0.95rem;
    color: #777;
    line-height: 1.55;
}

.berita-list {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.berita-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background: white;
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s ease; 
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.berita-item:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);    
}

.berita-utama {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    transition: 0.3s ease;
}

.berita-utama:hover {
    transform: translateY(-3px);
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.thumb {
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px;
}

.item-date {
    font-size: 0.78rem;
    color: #777;
    margin-bottom: 4px;
}

.item-title {
    font-size: 0.95rem;
    margin: 0 0 4px;
    line-height: 1.35;
    font-weight: 600;
}

.item-author {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #777;
    margin-top: 8px;
    flex-wrap: nowrap;
    
}


/* Galeri */
.galeri-section {
    width: 100%;
    background:  #e8f0ff; 
    padding: 40px 0 -60px;
}

.gallery-img {
    width: 340px;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.04);
}
/* PARTNERSHIP */
.partnership-section {
    width: 100%;
    /* margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); */
    background: #ffffff;
    padding: 60px;
    zoom: 0.9;
}

.partnership-container {
    max-width: 1200px; 
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.partnership-text {
    flex: 1;
}

.partnership-text h2 {
    font-size: 36px;
    font-weight: 600;
    color: #0c2f66;
    margin-bottom: 16px;
}

.partnership-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 28px;
}

.partnership-image img {
    width: 450px;
}

@keyframes fadeUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

