/* ====== GLOBAL ====== */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #f2f6ff!important;
}

.navbar {
  background: #0c2a4c !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4 {
    margin: 0;
    color: #0f172a;
    font-weight: 600;
}

p {
    margin: 0;
    color: #4b5563;
    font-weight: 400;
}

.hero {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
}

.hero h1 {
    position: absolute;
    top: 52%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.hero p {
    position: absolute;
    top: 63%;
    width: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #e7e7e7;
    font-size: 12px;
    line-height: 1.55;
}
/* ====================== MAIN LAYOUT ====================== */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  gap: 40px;
}

/* ====================== KONTEN BERITA ====================== */
.content {
  flex: 2;
  background: #F7F9FB;
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-top: -100px;   /* naikin ke depan hero */
    z-index: 50;        /* di atas hero */
}

.judul-berita {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 14px;
  color: #1f2937;
}
.subjudul{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 10px;
    color: #4b5563;
}
.content h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 12px;
}

.meta {
  display: flex;
  gap: 3px;
  font-size: 12px;
  font-weight: 400;
  color: #4b5563;
  margin-bottom: 0px;
}

.banner {
  width: 100%;
  border-radius: 12px;
  margin: 10px 0;
   margin-bottom: 15px;
}

.content p {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 18px;
  color: #2c2727;
}

.content ul li {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #2c2727;
}

/* ====================== SIDEBAR ====================== */
.sidebar {
  flex: 1;
  background:#F7F9FB;
  padding: 25px;
  border-radius: 22px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-top: -100px;   /* naikin ke depan hero */
    z-index: 50;        /* di atas hero */
}

.sidebar h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #1f2937;
}

/* Card Sidebar */
.sidebar a.card {
  padding: 18px 15px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-bottom: 14px;

  font-size: 15px;
  font-weight: 500;
  color: #716B6B;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
  transition: .25s ease;

   position: relative; /* penting untuk anchor absolute */
    padding: 18px 15px 18px 40px; /* kasih ruang teks kiri */
}

.sidebar a.card span {
  flex: 1;
  line-height: 1.75;
  font-size: 15px;
  color:  #716B6B;
}

.arrow-icon {
    position: absolute;
    top: 20px;      /* geser naik ke atas */
    right: 15px;    /* tempel ke kanan */
    margin: 0;      /* reset margin sebelumnya */
    font-size: 17px;
    color: #716B6B;
    opacity: 0.7;
    transition: 0.25s ease;
}

.sidebar a.card:hover {
  background: #f1f5ff;
  border-color: #9ab1ff;
}

.sidebar a.card:hover .arrow-icon {
  opacity: 1;
  transform: translateX(4px);
}

/* ====================== RESPONSIVE ====================== */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .meta {
    flex-direction: column;
    gap: 6px;
  }
}