* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #f2f6ff;
}

.heading {
    display: block;
    background: url('../Image/Heading/Heading.png') center/cover no-repeat;
    color: white;
    padding-top: clamp(110px, 13vw, 160px);
    padding-bottom: clamp(60px, 10vw, 120px);
    padding-inline: clamp(16px, 4vw, 40px);
    text-align: center;
}

.heading h1 {
    font-size: clamp(22px, 3vw, 32px);
    font-weight: 600;
    margin-bottom: 10px;
}

.heading p {
    font-size: clamp(12px, 1.5vw, 16px);
    opacity: 0.9;
    font-weight: 400;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 70px 20px;
    margin-top: clamp(-60px, -6vw, -60px);
    padding-inline: clamp(16px, 4vw, 24px);
}

.login-card {
    background: white;
    width: 100%;
    max-width: 480px;
    margin-top: clamp(-60px, -6vw, -60px);
    padding-inline: clamp(16px, 4vw, 24px);
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
}

/* .form-group input {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

.form-group input:focus {
    border-color: #3b63c6;
}

.password-field {
    display: flex;
    align-items: center;
    position: relative;
}

.password-field input {
    width: 100%;
} */

.form-group input,
.password-field input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    box-sizing: border-box; 
}

.form-group input::placeholder,
.password-field input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #b9b9b9;
}

.form-group input:focus,
.password-field input:focus {
    border-color: #3b63c6;
    outline: none;
}

.password-field {
    position: relative;
}

.password-field input {
    padding-right: 40px;
}

/* .toggle-eye {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
    user-select: none;
} */

.forgot {
    text-align: right;
    margin-bottom: 20px;
}

.forgot a {
    font-size: 13px;
    color: #6b6b6b;
    text-decoration: none;
}

.forgot a:hover {
    color: #3b63c6;
}


.btn-login {
    width: 100%;
    padding: 14px;
    background: #1f5cb8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-login:hover {
    background: #184b93;
}
