    @media (max-width: 1280px) {
        body {
            zoom: 80%;
        }
    }
    
    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        background: #f2f6ff;
        overflow-x: hidden;
    }

    .heading {
        background: url('../Image/Heading/Heading.png') center/cover no-repeat;
        color: white;
        margin-top: 110px;
        padding: 100px 20px;
        text-align: center;
    }

    .heading h1 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .heading p {
        font-weight: 400;
        font-size: 12px;
        opacity: 0.9;
    }

    .diagram-container {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .diagram-img {
        width: 100%;
        max-width: 1209px;
        background: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 20px;
    }

    .diagram-img:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;
    }

    .section-title {
        text-align: center;
        margin-top: 40px;
        font-size: 24px;
        font-weight: bold;
        color: #1d2d5a;
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 34px;
        margin: 25px auto;
        max-width: 1208px;
    }

    .tag {
        padding: 10px 30px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-weight: 600;
        font-size: 16px;
        color: #7F7B7B;
        transition: 0.3s ease;
    }

    .tag:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    }

    /* Stats */
    .stats {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
        text-align: center;
    }

    .stat-box {
        background: white;
        border-radius: 12px;
        padding: 20px 40px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        font-size: 16px;
        font-weight: 600;
        font-size: 16px;
        color: #7F7B7B;
    }

    .stat-box:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    }

    .stat-number {
        font-size: 32px;
        font-weight: bold;
        color: #1d2d5a;
    }

    .stat-label {
        font-size: 14px;
        margin-top: 5px;
    }

    /* Button */

    .cta-btn {
        display: block;
        width: fit-content;
        margin: 50px auto;
        font-weight: 600;
        padding: 12px 28px;
        background: #1E5AA8;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.3s ease;
    }

    .cta-btn:hover {
        background: #2c72cf;
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }
.footer {
        background: linear-gradient(to bottom,
                rgba(3, 37, 76, 1) 40%,
                rgba(11, 74, 143, 1) 100%);
        text-align: center;
        padding: 40px 20px;
        color: white;
    }

    .footer-logo img {
        width: 120px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-menu {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 25px;
        flex-wrap: wrap;
    }

    .footer-menu li {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        position: relative;
    }

    .footer-menu li::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3px;
        width: 0%;
        height: 2px;
        background: #4CA8FF;
        transition: width 0.3s ease;
        transform: translateX(-50%);
    }

    .footer-menu li:hover::after {
        width: 100%;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 30px 0;
        font-size: 22px;
    }

    .footer-copyright {
        padding-top: 40px;
        font-size: 14px;
        opacity: 0.8;
    }

    