* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: #f5f7fb;
    display: flex;
}

/* SIDEBAR */
.sidebar.collapsed {
    position: fixed;
    top: 0;
    left: 0;
    width: 85px;
    height: 100vh;
    background: #e7eefc;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-right: 1px solid #d5deed;
}

.sidebar-menu p {
    padding-left: 14px;
}

.sidebar-logo img {
    width: 60px;
    height: 60px;
}

.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-menu li {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-menu li:hover {
    color: #0C2A4C;
    background: #cbd7ed;
}

.sidebar-menu li.active {
    color: #0C2A4C;
    background: #cbd7ed;
    font-weight: 600;
    width: 215px;
}

.sidebar-menu li p {
    text-align: left;
}

.sidebar-menu .active {
    color: #0C2A4C;
    /* background: white; */
    padding: 12px;
    width: 50px;
    border-radius: 12px;
    text-align: center;
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.25); */
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: #e8f0ff;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 4px 4px 25px rgba(0,0,0,0.25)
}

/* ===== HEADER ===== */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.sidebar-logo {
    width: 55px;
    height: 55px;
}

.sidebar-title h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #0f172a;
}

.sidebar-title p {
    margin: 0;
    margin-top: -4px;
    font-size: 13px;
    color: #4a5b7a;
}

.sidebar.collapsed .sidebar-title {
    display: none;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 14px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
    color: #1f2b40;
    transition: background 0.2s ease;
}

.menu-item i {
    font-size: 20px;
    width: 24px;
}

.sidebar.collapsed .menu-item p {
    display: none;
}

.content {
    margin-left: 110px;
    padding: 40px;
    width: 100%;
}

.content.collapsed {
    width: 93%;
    padding-left: 200px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header h1 {
    font-size: 28px;
    font-weight: 600;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.top-controls {
    display: flex;
    align-items: center;
    margin: 25px 0;
    gap: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.search-box input {
    border: none;
    outline: none;
    font-size: 15px;
}

.filter-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-info span {
    background: white;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 14px;
}

.filter-info a {
    color: #6b7280;
    text-decoration: none;
}

.right-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 10px;
}

.export {
    background: #e7f0ff;
}

.sort {
    background: #f2f2f2;
}

.add {
    background: #1f4fc7;
    color: white;
}

.table-container {
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #b9c9e8;
}

thead th {
    padding: 18px 10px;
    text-align: left;
    font-size: 15px;
}

tbody td {
    padding: 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}

.tag {
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}

.tag.orange {
    background: #fff1e5;
    color: #e49b41;
    border: 1px solid #e49b41;
}

.tag.blue {
    background: #e7f0ff;
    color: #1f4fc7;
    border: 1px solid #1f4fc7;
}

.status.aktif {
    background: #e8ffe8;
    color: #2b9d4d;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
}

.user-icon {
    font-size: 40px;
    color: #c6c6c6;
}

.delete-selection {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1f4fc7;
    font-size: 15px;
}