* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: #f5f7fb;
    display: flex;
}

.content {
    margin-left: 110px;
    padding: 40px;
    width: 90%;
    transition: 0.2s ease;
}

.content.collapsed {
    width: 93%;
    padding-left: 200px;
    transition: 0.2s ease;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header h1 {
    font-size: 28px;
    font-weight: 600;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.top-controls {
    display: flex;
    align-items: center;
    margin: 25px 0;
    gap: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.search-box input {
    border: none;
    outline: none;
    font-size: 15px;
}

.filter-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-info span {
    background: white;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 14px;
}

.filter-info a {
    color: #6b7280;
    text-decoration: none;
}

.right-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 10px;
}

.export {
    background: #e7f0ff;
}

.sort {
    background: #f2f2f2;
}

.add {
    background: #1f4fc7;
    color: white;
}

.table-container {
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #b9c9e8;
}

thead th {
    padding: 18px 10px;
    text-align: left;
    font-size: 15px;
}

tbody td {
    padding: 16px 12px;
    border-bottom: 1px solid #f0f0f0;
}

.tag {
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}

.tag.orange {
    background: #fff1e5;
    color: #e49b41;
    border: 1px solid #e49b41;
}

.tag.blue {
    background: #e7f0ff;
    color: #1f4fc7;
    border: 1px solid #1f4fc7;
}

.status.aktif {
    background: #e8ffe8;
    color: #2b9d4d;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
}

.user-icon {
    font-size: 40px;
    color: #c6c6c6;
}

.delete-selection {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1f4fc7;
    font-size: 15px;
}

.btn-save {
    background-color: #1f4fc7;   
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.25s ease;
}

.btn-save:hover {
    background-color: #074c81; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.btn-save:active {
    transform: scale(0.95); /* efek klik */
}
.status-dropdown {
    background-color: #1f4fc7; /* biru tua */
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.status-dropdown:hover {
    background-color: #1f4fc7;
}
